body{
    background-color: #2a9d8f;
}

main{
    background-color: white;
    padding: 20px;
    width: 70%;
    margin: auto;
}

img{
    width: 70%;
}

h1{
    text-align: center;
    font-size: large;
}

p{
    font-size: 18px;
}

.ancor{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-bottom{
    margin-top: 0px;
}
.answer{
    color:cornflowerblue
}
.button{
    background-color: #264653;
    text-align: center;
    padding: 15px
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    margin-top: 20px;
    width: 200px;
}